
<div class="alert alert-danger mt-3" role="alert" *ngIf="error">
    {{error}}
</div>
<article *ngIf="job"  [class.card]="!isDetail" [class.text-muted]="!isDetail && deadline != null && deadline.getTime() < today.getTime()">
    <div class="card-body">
         <h2 *ngIf="!isDetail" class="card-title">{{ job.name }}</h2>
        <h1 *ngIf="isDetail">{{ job.name }}</h1>
        <h6 *ngIf="!isDetail" class="card-subtitle">{{ job.company?.name }}</h6>
        <ng-container *ngIf="isDetail">
            <div *ngIf="user.isSuper || user.id == job.company?.adminId; else apply" class="my-3">
                <button type="button" class="btn btn-success me-2 mb-2" (click)="edit(job.id)"><i class="fas fa-edit"></i> Edit</button>
                <button type="button" class="btn btn-danger me-2 mb-2" (click)="delete(job.id)"><i class="far fa-trash-alt"></i> Delete</button>
            </div>
            <ng-template #apply>
                <button *ngIf="canApply && user.id" type="button" class="btn btn-success mb-2" 
                        [class.disabled]="deadline != null && deadline.getTime() < today.getTime()" 
                        (click)="applyJob()"><i class="far fa-envelope-open"></i> Apply</button>
                <button *ngIf="canApply && !user.id" type="button" class="btn btn-success mb-2" 
                        [class.disabled]="deadline != null && deadline.getTime() < today.getTime()" 
                        [routerLink]="'/register'"><i class="far fa-envelope-open"></i> Apply</button>
            </ng-template>
        </ng-container>
        
        <div>
            <span class="badge rounded-pill bg-primary" *ngFor="let c of job.categories">{{ c.name }}</span>
        </div>
        <div *ngIf="isDetail">
            <h2 type="button" data-bs-toggle="collapse" data-bs-target="#company">Company</h2>
            <div class="collapse" id="company">
                <app-company [company]="job.company!"></app-company>
            </div>
            <div *ngIf="job.contractType || job.location || job.salary || job.sector">
                <h2 type="button" data-bs-toggle="collapse" data-bs-target="#details">Details</h2>
                <div class="collapse" id="details">
                    <table class="table table-borderless">
                        <tbody>
                            <tr *ngIf="job.contractType">
                                <th scope="row" class="col-md-3">Contract type: </th>
                                <td>{{ job.contractType }}</td>
                            </tr>
                            <tr *ngIf="job.location">
                                <th scope="row">Location: </th>
                                <td>{{ job.location }}</td>
                            </tr>
                            <tr *ngIf="job.salary">
                                <th scope="row">Salary: </th>
                                <td>{{ job.salary }}</td>
                            </tr>
                            <tr *ngIf="job.sector">
                                <th scope="row">Sector: </th>
                                <td>{{ job.sector.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div *ngIf="job.applications && job.applications.length > 0 && (user.isSuper || user.id == job.company?.adminId )">
                <h2 type="button" data-bs-toggle="collapse" data-bs-target="#applications">Applications</h2>
                <div class="collapse" id="applications">
                    <app-application-list [applications]="job.applications" [fromJob]="true" ></app-application-list>
                </div>
            </div>
            <div *ngIf="!canApply && job.applications">
                <h2 type="button" data-bs-toggle="collapse" data-bs-target="#application">Your application</h2>
                <div class="collapse" id="application">
                    <app-application-list [applications]="yourApplication()" [fromJob]="true" ></app-application-list>
                </div>
            </div>
        </div>
        <small *ngIf="deadline" [class.text-danger]="deadline.getTime() < today.getTime()">Deadline: {{ deadline.getDate()+'/'+(deadline.getMonth() + 1)+'/'+deadline.getFullYear() }}</small>
        <p>{{ job.description ? (isDetail? job.description : (job.description | shortenContent : 250)) : "" }}</p>
        <div *ngIf="isDetail">
            <ng-container *ngIf="job.offer">
                <h4>Offer</h4>
                <p>{{ job.offer }}</p>
            </ng-container>
            <ng-container *ngIf="job.profile">
                <h4>Profile</h4>
                <p>{{ job.profile }}</p>
            </ng-container>
        </div>
       <a *ngIf="!isDetail" ngbNavLink [routerLink]="'/job/' + job.id" href="/" class="stretched-link"></a>
    </div>
</article>