
<div class="alert alert-danger" role="alert" *ngIf="error">
    {{error}}
</div>
<article *ngIf="job"  [class.card]="!isDetail">
    <div class="card-body">
        <h2>{{ job.name }}</h2>
        <div *ngIf="isDetail && (user.isSuper || user.id == job.company?.adminId)">
            <button type="button" class="btn btn-success me-2" (click)="edit(job.id)"><i class="fas fa-edit"></i> Edit</button>
            <button type="button" class="btn btn-danger" (click)="delete(job.id)"><i class="far fa-trash-alt"></i> Delete</button>
        </div>
        <p>{{ job.description ? (isDetail? job.description : (job.description | shortenContent : 250)) : "" }}</p>
       <a *ngIf="!isDetail" ngbNavLink [routerLink]="'/job/' + job.id" href="/" class="stretched-link"></a>
    </div>
</article>