<h1>{{ user.firstname }} {{ user.lastname }}</h1>
<h2 type="button" data-bs-toggle="collapse" data-bs-target="#personals">Personal information</h2>
<div class="collapse show" id="personals">
    <p><button class="btn btn-primary mt-1" routerLinkActive="active" [routerLink]="'edit'">Edit</button></p>
    <table class="table table-borderless">
        <tbody>
            <tr *ngFor="let line of shows">
                <td class="col-md-3">{{ line[0] }}: </td>
                <td>{{ line[1] }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="user.isAdmin">
    <h2  type="button" data-bs-toggle="collapse" data-bs-target="#companies">Companies</h2>
    <div id="companies" class="collapse show row">
        <app-company *ngFor="let company of user.companies" [company]="company" class="col-sm-12 col-md-6 col-lg-6 col-xl-4 p-2"></app-company>
    </div>
</div>
